.resource-page {
  width: 100%;
  height: 100%;
}
.resource-page__container {
  width: 100%;
  height: 100%;
  background-color: white;
  overflow-y: auto;
}
.resource-page__main {
  height: 100%;
  width: 100%;
}
