.home-page__header {
  top: 0;
  right: 0;
  position: absolute;
}
.home-page__header__item {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 3rem 3rem;
}
.home-page__header__item:hover) {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}
.coming-soon {
  white-space: nowrap;
}
@media only screen and (max-device-width: 612px) {
  .home-page__header__item {
    height: 4rem;
    width: 4rem;
    margin: 5rem 5rem;
  }
  .coming-soon {
    font-size: 2vmax;
  }
}
