/*
  Mobile first
  vmax: 1/100th of the largest side
  @media screen and (min-width: 1024px): screens larger than mobile phone
*/
.home-container {
  margin: 0;
  padding: 0;
  display: block;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  color: #eee;
}

.home__header__icon__container {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 2vmax;
  width: 2vmax;
  margin: 35px;
}

.home__header__icon__container:hover {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.coming-soon {
  white-space: nowrap;
}

.home-logo {
  font-family: 'Poiret One', cursive;
  position: relative;
  font-size: 1.5vmax;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-logo--lrg {
  font-size: 17vmax;
  font-weight: 500;
}

.home-footer {
  color: rgba(255, 255, 255, 0.73);
  font-family: 'Poiret One', cursive;
  bottom: 0;
  position: absolute;
  font-size: 1.5vmax;
  width: 100%;
  text-align: center;
  padding-bottom: 7px;
  margin: 0;
  display: block;
}

/* screens larger than mobile phone */
@media screen and (min-width: 1024px) {
  .home__header__icon__container {
    height: 1.5vmax;
    width: 1.5vmax;
  }
  .home-footer {
    font-size: 1.0vmax;
  }
}
