/*
  Mobile first
  vmax: 1/100th of the largest side
  @media screen and (min-width: 1024px): screens larger than mobile phone
*/
.home-page {
  height: 100%;
  width: 100%;
}
.home-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
  color: #eee;
}
.home-container__logo {
  width: 100%;
  height: calc(100% - 4vmax); /* leave room at bottom for footer */
}
.home__header__icon__container {
  position: absolute;
  right: 0;
  cursor: pointer;
  height: 2vmax;
  width: 2vmax;
  margin: 35px;
}

.home__header__icon__container:hover {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.home-logo {
  font-family: 'Poiret One', cursive;
  position: relative;
  font-size: 2.5vmax;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-logo--lrg {
  font-size: 22vmax;
  font-weight: 500;
}

.home-footer {
  font-family: 'Poiret One', cursive;
  color: rgba(255, 255, 255, 0.73);
  font-size: 2vmax;
  line-height: 4vmax;
  text-align: center;
}

/* screens larger than mobile phone */
@media (min-width: 1200px) {
  .home-logo {
    font-size: 1.5vmax;
  }
  .home-logo--lrg {
    font-size: 17vmax;
  }
  .home-footer {
    font-size: 1vmax;
  }
}
