.auth-page,
.auth__container,
.auth__login__container {
  position: relative;
  height: 100%;
  width: 100%;
}
.auth__icon__container {
  cursor: pointer;
  width: 2.5rem;
  bottom: 2rem;
  right: 2rem;
  position: absolute;
}
.auth_username {
  width: 22rem;
}
.auth_password {
  width: 17rem;
}
/* screens larger than mobile phone */
@media (min-width: 1200px) {
  .auth__info__icon__container {
    width: 3rem;
  }
}
