.navigation {
  display: block;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.navigation__menu {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  text-transform: uppercase;
  list-style: none;
  font-size: 1.2rem;
  color: #555;
}
.navigation__menu__link {
  cursor: pointer;
}
.navigation__menu__link:hover {
  color: #555;
}
.navigation__menu__item {
  margin: 1.5rem 1rem 1rem 1rem;
  letter-spacing: .2rem;
}

@media (orientation: landscape) {
  .navigation__menu {
    justify-content: flex-end;
  }
  .navigation__menu__item--last {
    margin-right: 2.5rem;
  }
}

