.modal__container--visible {
  display: block !important;
}
/* backdrop */
.modal__container {
  position: fixed;
  display: none;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000c4;
}
/* actual modal */
.modal {
  color: #000;
  position: fixed;
  display: block;
  text-align: center;
  width: calc(90% - 16rem);
  z-index: 2;
  top: 40%;
  left: 50%;
  font-size: 2vmax;
  transform: translate(-50%,-50%);
  background-color: #fff;
  letter-spacing: 1.3px;
  padding: 14rem 8rem;
}
.modal__icon__container {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 3vmax;
  width: 3vmax;
  margin: 20px;
}

/* screens larger than mobile phone */
@media screen and (min-width: 1024px) {
  .modal__icon__container {
    height: 2vmax;
    width: 2vmax;
  }
}
