.modal__container--visible {
  display: block !important;
}
/* backdrop */
.modal__container {
  position: fixed;
  display: none;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000c4;
}
/* actual modal */
.modal {
  color: #000;
  position: fixed;
  display: block;
  text-align: center;
  width: 90%;
  z-index: 2;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
}
.modal__content {
  padding: 5rem;
}
.modal__error {
  color: #ff4e4e;
  font-weight: 600;
  display: block;
  margin: 2rem 0;
}
.modal__form {
  margin: 0 -2rem;
}
.modal__submit {
  display: block;
  margin: 3rem auto;
}
.modal__input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
.modal__input {
  width: 90%;
  display: block;
  margin: 3rem auto;
  background: transparent;
  text-align: center;
  font-size: 14px;
}
.modal__input--select {
  text-align-last: center;
}
.modal__button {
  width: 20rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal__button--top {
  margin-bottom: 3rem;
}

/* Landscape mode */
@media (max-height: 450px) {
  .modal {
    top: 50%;
  }
  .modal__content {
    padding: 3rem;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .modal {
    width: 50%;
  }
}
