.modal__container--visible {
  display: block !important;
}
/* backdrop */
.modal__container {
  position: fixed;
  display: none;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #000000c4;
}
/* actual modal */
.modal {
  color: #000;
  position: fixed;
  display: block;
  text-align: center;
  width: 90%;
  z-index: 2;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #fff;
}
.modal__content {
  padding: 5rem;
}

/* Landscape mode */
@media (max-height: 450px) {
  .modal {
    top: 50%;
  }
  .modal__content {
    padding: 3rem;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
  .modal {
    width: 50%;
  }
}
