@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/poiret-one-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poiret One'), local('PoiretOne-Regular'),
       url('./fonts/poiret-one-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/poiret-one-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/poiret-one-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./fonts/poiret-one-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/poiret-one-v5-latin-regular.svg#PoiretOne') format('svg'); /* Legacy iOS */
}

html, body, #react-div {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-size: 2rem;
  margin: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0;
}

a, a:hover, a:focus, a:visited, a:link, a:active {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
  opacity: 1;
}

label {
  text-transform: capitalize;
  font-size: 1em;
  line-height: 30px;
  letter-spacing: .12rem;
}

textarea, select, input, button {
  outline: none;
}

.svg-icon {
    height: 1em;
    margin-top: -4px;
    pointer-events: none;
    vertical-align: middle;
    width: 1em;
}

.hidden {
  display: none;
}

textarea,
input[type="text"],
input[type="password"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
}

.no-touch {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

::placeholder {
  font-size: 1.5rem;
  opacity: 0.5;
}

* , *:before, *:after {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -ms-box-sizing:border-box;
}
