.textarea__container {
  width: 100%;
  bottom: 1rem;
  margin-top: 6rem;
}
.textarea {
  height: 6rem;
  width: 100%;
  margin: 0;
  padding: 0;
  display: block;
  resize: none;
  border: 1px solid #999;
}
.textarea:focus {
  border: 1px solid #000;
}
.button {
  display: block;
  margin: 3rem auto;
  background: none;
  padding: .5rem 1rem;
  border: 1px solid #000;
  color: #000;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
  float: right;
}
.button:hover,
.button:focus {
  color: #fff;
  background-color: #000;
}
