.tile {
  position: relative;
  display: inline-block;
  border: 1px solid #d8d8d899;
  background-color: #f7f7f7;
  margin: 0.5rem;
  min-height: 180px;
  width: calc(25% - 1.0rem);
  min-width: 50px;
  overflow: hidden;
  color: #000;
  cursor: pointer;
  transition: .2s transform linear;
}

.tile--photo {
  border: none;
  background-size: cover;
  background-position: center center;
}

.tile--no-hover:hover {
  transform: none !important; /* fix me */
}

.tile:hover {
  transform: scale(1.005);
}

.tile--no-border {
  border: none;
  background: none;
  cursor: default;
  overflow: visible;
}

.tile--no-border:hover {
  background: none;
}

.tile__container {
  width: 100%;
  padding: 15px;
  position: absolute;
}

.tile__container--photo {
  padding: 15px;
  bottom: 0;
  text-align: right;
  color: #fff;
}

.tile__title,
.tile__author {
  font-weight: 300;
  line-height: 2;
  white-space: nowrap;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}
.tile__title {
  letter-spacing: 1.7px;
}
.tile__author {
  font-size: 0.8rem;
  letter-spacing: 1.2px;
}

.tile__icons {
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  background-color: #0000000a;
  border-top: 1px solid #d8d8d899;
  display: block;
  position: absolute;
  bottom: 0;
}
