.auth_container {
  padding: 1.5rem;
}
.auth_group {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.auth_input {
  display: block;
  margin: 2.8rem auto;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #5d5d5d;
  text-align: center;
}
.auth_input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}
.auth_input--error {
  color: red;
}
.auth_username {
  width: 22rem;
}
.auth_password {
  width: 17rem;
}
.auth_submit {
  display: block;
  margin: 3rem auto;
  background: none;
  padding: .5rem 1rem;
  border: 1px solid #000;
  color: #000;
  font-size: 0.9rem;
  transition: all 0.2s ease-in-out;
}
.auth_submit:hover,
.auth_submit:focus {
  color: #fff;
  background-color: #000;
}
