.contact-page {
  height: 100%;
  width: 100%;
}
.contact-page__container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-image: url("https://res.cloudinary.com/diddvpb7x/image/upload/v1597894965/3f0b9143b36e4211287788a7b5113bf2_wi3rmr.png");
}
.contact-page__main {
  height: 100%;
  overflow-y: auto;
  background-color: white;
  padding: 7rem 3rem 0 3rem;
}
.contact-page__success {}
.contact-page__error {
  color: #ff4e4e;
  font-weight: 600;
  display: block;
}
.contact-page__form--margin {
  margin-top: 15%;
}
.contact-page__form {
  font-size: 1.2rem;
}
.contact-page__form-element,
.contact-page__error {
  margin-bottom: 1rem;
}
.contact-page__info,
.contact-page__message {
  width: 100%;
}
.contact-page__disclaimer {
 font-size: 1.3rem;
}
.contact-page__message {
  height: 10rem;
  resize: none;
}
.contact-page__submit {
  margin: 15% auto;
  display: block;
}
/* screens larger than mobile phone */
@media (min-width: 1200px) {
  .contact-page__main {
    width: 40%;
    padding: 5rem 3rem 0 3rem;
  }
  .contact-page__form-element,
  .contact-page__error {
    margin-bottom: 2rem;
  }
}
